* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes loading {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background: #121212;
}

body * {
  font-family: 'Montserrat', sans-serif;
  color: #c7c7c7;
  border: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  opacity: 0.7;
}

button:disabled {
  opacity: 0.3;
  cursor: default !important;
}

.App {
  padding-left: 26px;
  padding-right: 26px;
}

.activity {
  border: 5px solid;
  border-radius: 100%;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: fixed;
  bottom: 26px;
  right: 26px;
}
